body {
  font-family: "Gaegu", sans-serif;
}

.name {
  background-color: #e0bccf;
  font-size: 30pt;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.full {
  display: flex;
  max-width: 900px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.info {
  flex: 2;
  padding: 40px;
  margin-top: 0;
  line-height: 1;
  font-size: 20pt;
}

.profile-image {
  flex: 1;
  min-width: 300px;
  background-color: #eee;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.option {
  display: flex;
  flex-wrap: wrap; /* 줄바꿈 허용 */
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  text-align: center;
}

.option .item {
  width: 100%;
  max-width: 220px;
  flex: 1 1 200px; /* 유연하게 너비 조절 */
}

.option .item img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}

.text-box {
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 250px;
  width: 180px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
}

.text-box .title {
  font-weight: bold;
  font-size: 20pt;
  color: #55484a;
  margin-bottom: 11px;
}

.text-box p {
  font-size: 17pt;
  color: #55484a;
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center;
}

.mini-link {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1000;
}

.mini-link img {
  width: 100px;
  height: auto;
  transition: transform 0.2s;
  cursor: pointer;
}

.mini-link img:hover {
  transform: scale(1.2);
}
